{% extends 'table_view_base.html' %}

{% block table_area %}
  {% block table_header %}
  {% endblock %}
  <p></p>
  <table id="id_word_table" class="table table-condensed">
    <colgroup>
      <col class="definition-table-chinese-col" />
      <col class="definition-table-pinyin-col" />
      <col class="definition-table-english-col" />
    </colgroup>
    {% regroup definitions by simplified as simplified_groups %}
    {% for simplified_group in simplified_groups %}
       {% regroup simplified_group.list by pinyin as pinyin_groups %}
       {% for pinyin_group in pinyin_groups %}
          {% for definition in pinyin_group.list %}
             <tr>
	     {% if forloop.parentloop.first and forloop.first %}
	       <td rowspan="{{ simplified_group.list|length }}">
		 <a href="{% url 'view_english' definition.simplified %}">
		 {% if definition.is_name %}
		    <u>{{ definition.simplified }}</u>
	         {% else %}
	            {{ definition.simplified }}
	         {% endif %}
	         </a>
	       </td>
	     {% endif %}
	     {% if forloop.first %}
	       <td rowspan="{{ pinyin_group.list|length }}">
		 {{ definition.pinyin }}
	       </td>
	     {% endif %}
	     <td>{{ definition.english }}</td>
             </tr>
	  {% endfor %}
       {% endfor %}
    {% endfor %}
  </table>
{% endblock %}
