{% extends 'table_view_base.html' %}

{% block above_table_area %}
  <h3>{{ list_title }}</h3>
{% endblock %}

{% block table_area %}
  <ul class="nav nav-pills">
    {% for my_list in available_lists %}
      {% if my_list.active %}
      <li class="active"><a href="#">{{ my_list.name }} </a></li>
      {% else %}
      <li><a href="{% url 'view_hsk_list' my_list.number %}">{{ my_list.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <p></p>
  <table id="id_word_table" class="table table-condensed">
    {% for hsk_word in hsk_words %}
    <tr>
      <td nowrap="nowrap"><a href="{% url 'view_english' hsk_word.simplified %}">{{ hsk_word.simplified }}</a></td>
      <td nowrap="nowrap">{{ hsk_word.pinyin }}</td>
      <td>{{ hsk_word.english }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
